body {
  background-color: brown;
	text-align: center
}

.Using { /*avec un point devant c'est pour les classes*/
	visibility: hidden;
}

.Flag {
	position: relative;
	top: 80px;
}

#Representation{ /*avec un point devant c'est pour les classes*/
	width: 10%;
	font-size: 100%;
	top: 20%;
}

#Representation2{ /*avec un point devant c'est pour les classes*/
  width: 10%;
  font-size: 100%;
  top: 20%;
}

.BlocPos {
	display: flex;
}

.Flex {
	flex: 1 1 auto;
}

.UserPos {
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 15px solid blue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-9px, 95px);
  z-index: 1;
}

.Source {
  visibility: hidden;
  font-size: 10px;
  text-align: center;
  width: 12px;
  height: 12px;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-6px, 98px);
  background: green;
  z-index: 0;
}